p{
    color: tomato;
}

h1{
    color: green;
}

#pære{
    color: paleturquoise;
    font-style: oblique;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

div{
    border-style: solid;
    border-color: blueviolet;
}

#block{
    border-style: solid;
    border-color: yellowgreen;
}